.slide-into-view {
  animation: slideintoview 3s;
}
.wallGrid {
  width: 50%;
}
#castDiv {
  height: 50vh;
  width: 100%;
  iframe, video {
    opacity: 0;
  }
  #castPlayer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}
#navigator{
  .siteTitle {
    padding: 10px 0;
  }
}

@media only screen and (max-width: 800px) {
  .wallGrid {
    li {
      width: 50%!important;
    }
  }
}
@media only screen and (max-width: 414px) {
  .wallGrid {
    width: 100%;
    li {
      width: 100%!important;
    }
  }
}