.slide-into-view {
  animation: slideintoview 3s;
}

body {
  overflow-x: hidden;
  a {
    border: 0 none;
  }
}

.mobile-only {
  display: none;
}

.wallGrid {
  width: 50%;
}

.site-alignment-center #container {
  margin-top: 0;
}

.nav-container {
  position: absolute;
  width: 100%;
  > div {
    box-sizing: border-box;
  }
  .site-player-block, .header-block, .main-nav {
    position: relative;
    max-width: 33.3333%;
    width: 100%;
    height: @logoSize;
    float: left;;
  }
  .header-block {
    min-width: 60px;
    float: left;
    .sqs-block {
      padding-bottom: 0 !important;
    }
    .sqs-layout > .sqs-row {
      [class*=sqs-col] {
        height: @logoSize;
      }
      .sqs-block {
        .v-align;
      }
      .sqs-donate-button {
        font-size: 13px;
        line-height: 1;
      }
      .sqs-block-button-element {
        line-height: 1;
      }
      .sqs-block-button-element--small {
        padding: 1em 2.5em;
      }
    }
    .socialaccountlinks-v2-block {
      width: auto;
      margin-right: 6px;
      a {
        border-width: 0;
        border: none;
        text-decoration: none;
        margin-bottom: 0;
        vertical-align: middle;
      }
    }
  }
}

.site-titlelogo-position-left {
  #navigator header#topBar ul#nav {
    float: none;
    max-width: none;
    margin: 0;
    text-align: right;
    li:last-child {
      margin: 0;
    }
  }
}

.grid-container {
  overflow: hidden;
  .container {
    max-width: @wallWidth;
    width: 100%;
    margin: 0 auto;
    .grid-slide {
      padding: @wallItemGap 0;
      &:first-child {
        padding-top: 0 !important;
      }
      &.wall-item-video .grid-slide-video-featured, &.wall-item-video .sqs-video-wrapper {
        height: 50vh;
        position: relative;
        overflow: hidden;
        img {
          object-fit: contain;
          object-position: center;
        }
      }
    }
  }
}

#castDiv {
  height: 50vh;
  width: 100%;
  position: relative;
  iframe, video {
    opacity: 0;
    .transition(opacity .2s);
  }
  &.stream-activated {
    iframe {
      opacity: 1;
    }
  }
  #castPlayer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}

#navigator {
  .siteTitle {
    padding: 0 !important;
    margin: 0;
  }
  header#topBar ul#nav {
    padding: 0 !important;
    line-height: @logoSize;
    li {
      margin: 0 1.3em 0 0;
      &:last-child {
        margin: 0 35px 0 0;
      }
    }
  }
  footer#bottomBar {
    max-height: @logoSize;
    padding: 0 !important;
    line-height: @logoSize;
    #footerBlock {
      max-width: none;
      width: 100%;
      padding: 0 10px;
      .sqs-block {
        padding-bottom: 0;
        padding-top: 0;
        blockquote a {
          line-height: @logoSize;
        }
      }
    }
    div.social-accounts {
      height: @logoSize;
    }
    a {
      border: none;
      border-width: 0;
      &.sqs-svg-icon--wrapper {
        height: @logoSize;
      }
    }
  }
}

#mobile-navigation {
  #mobile-navigation-label, ul a {
    color: @navTextColor;
    &:hover {
      color: @navActiveColor;
    }
  }
}

@media only screen and (max-width: 1800px) {
  .nav-container .header-block .sqs-layout > .sqs-row .sqs-donate-button {
    font-size: 11px;
  }

  .nav-container .header-block .sqs-layout > .sqs-row .sqs-block-button-element--small {
    font-size: 11px;
  }

  .nav-container .header-block {
    .social-icons-size-extra-large .sqs-svg-icon--wrapper {
      width: 26px;
      height: 26px;
      margin: 0 0 0 8px;
    }
  }
}

@media only screen and (max-width: 1400px) {
  .nav-container .site-player-block {
    max-width: 25%;
  }

  .nav-container .header-block, .nav-container .main-nav {
    max-width: 37.5%;
  }
}

@media only screen and (max-width: 1200px) {
  .nav-container .header-block .sqs-layout > .sqs-row .sqs-donate-button {
    font-size: 10px;
  }

  .nav-container .header-block .sqs-layout > .sqs-row .sqs-block-button-element--small {
    font-size: 10px;
  }
}

@media only screen and (max-width: 1024px) {
  #mobile-navigation {
    .main-nav-font;
    font-size: 15px;
    ul {
      li {
        font-size: 15px;
        padding: 5px 0;
        &.folder .folder-parent {
          > a:first-child:before {
            content: '+';
            margin-right: 0.25em;
          }
        }
        &.folder {
          &.dropdown-open .folder-parent {
            > a:first-child:before {
              content: '-';
            }
          }
          .folder-child {
            display: none;
            height: 0;
            overflow: hidden;
            opacity: 1;
            margin-top: 0;
          }
        }
        &.folder.dropdown-open, &.folder.active-link {
          .folder-child {
            display: block;
            height: auto !important;
          }
        }
      }
    }
  }

  #navigator {
    .nav-container {
      .header-block, .main-nav {
        display: none;
      }
      #mobileNav {
        display: block;
        float: left;
        width: 50%;
        height: @logoSize;
        margin-left: 25%;
        #mobile-navigation {
          display: block;
          padding: 0;
          #mobile-navigation-label {
            line-height: @logoSize;
          }
          ul {
            line-height: @logoSize / 2;
            margin: 0;
          }
        }
      }
    }
    footer#bottomBar {
      #footerBlock.sqs-layout {
        float: left;
        .sqs-block {
          padding: 0 10px !important;
        }
      }
      > div {
        max-width: none;
      }
      div.social-accounts {
        float: right;
        a.sqs-svg-icon--wrapper {
          margin: 0 10px;
        }
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .wallGrid {
    li {
      width: 50% !important;
    }
  }
}

@media only screen and (max-width: 640px) {
  .wallGrid {
    li {
      width: 100% !important;
    }
  }

  #navigator .siteTitle {
    margin: 0 !important;
    float: right !important;
    padding: 10px 20px !important;
    max-width: 35% !important;
    text-align: right !important;
  }

  .site-player {
    .site-player-wrapper {

    }
  }

  .site-titlelogo-position-left {
    #navigator .siteTitle {
      margin: 0 !important;
      float: left !important;
      padding: 0 !important;
      max-width: 35% !important;
      text-align: left !important;
    }

  }
}

@media only screen and (max-width: 430px) {
  .wallGrid {
    display: none;
    width: 100%;
    li {
      width: 100% !important;
    }
  }
  .nav-container .site-player-block {
    max-width: 38%;
    float: right;
    .site-player {
      overflow: visible;
      &.volume-range-visible{
        .volume-control{
          .translate(0, 0);
        }
      }
      #volumeButton{
        margin-right: -2px;
      }
      .volume-control {
        height: 24px;
        width: 80px;
        display: inline-block;
        .transition(transform .2s);
        .translate(0, 50px);
      }
    }
  }

  #navigator .nav-container #mobileNav {
    width: 100%;
    margin: 0;
    position: absolute;
    #mobile-navigation-label {
      text-align: center;
    }
  }

  .mobile-only {
    display: block !important;
  }

  #navigator .nav-container #mobileNav #mobile-navigation ul {
    position: absolute;
    width: 100%;
    left: 0;
    background: @background;
    top: @logoSize;
  }
}

@media only screen and (max-width: 330px) {

}