.slide-into-view {
  animation: slideintoview 3s;
}

body {
  overflow-x: hidden;
}

.mobile-only {
  display: none;
}

.wallGrid {
  width: 50%;
}

.site-alignment-center #container {
  margin-top: 0;
}
.nav-container {
  position: absolute;
  width: 100%;
  >div {
    box-sizing: border-box;
  }
  .site-player-block, .header-block, .main-nav {
    position: relative;
    max-width: 33.3333%;
    width: 100%;
    height: @logoSize;
    float: left;;
  }
  .header-block{
    min-width: 60px;
    float: left;
    .sqs-block {
      padding-bottom: 0!important;
    }
    .sqs-layout > .sqs-row {
      .sqs-col{
        height: @logoSize;
      }
      [class*=sqs-col] {
        .v-align;
      }
      .sqs-donate-button {
        font-size: 13px;
        line-height: 1;
      }
      .sqs-block-button-element {
        line-height: 1;
      }
      .sqs-block-button-element--small{
        padding: 1em 2.5em;
      }
    }
    .socialaccountlinks-v2-block {
      width: auto;
      margin-right: 6px;
      .social-icons-size-extra-large{
        a{
          width: 36px;
          height: 36px;
        }
      }
      a{
        border-width: 0;
        border: none;
        text-decoration: none;
        margin-bottom: 0;
        vertical-align: middle;
      }
    }
  }
}
.site-titlelogo-position-left {
  #navigator header#topBar ul#nav {
    float: none;
    max-width: none;
    margin: 0;
    text-align: right;
    li:last-child{
      margin: 0;
    }
  }
}

.grid-container {
  overflow: hidden;
  .container {
    max-width: @wallWidth;
    width: 100%;
    margin: 0 auto;
    .grid-slide {
      padding: @wallItemGap 0;
      &:first-child {
        padding-top: 0 !important;
      }
      &.wall-item-video .grid-slide-video-featured, &.wall-item-video .sqs-video-wrapper {
        height: 50vh;
        position: relative;
        overflow: hidden;
        img {
          object-fit: contain;
          object-position: center;
        }
      }
    }
  }
}

#castDiv {
  height: 50vh;
  width: 100%;
  position: relative;
  iframe, video {
    opacity: 0;
    .transition(opacity .2s);
  }
  &.stream-activated {
    iframe {
      opacity: 1;
    }
  }
  #castPlayer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}

#navigator {
  .siteTitle {
    padding: 0 !important;
    margin: 0;
  }
  header#topBar ul#nav {
    padding: 0 !important;
    line-height: @logoSize;
    li {
      margin: 0 1.3em 0 0;
      &:last-child {
        margin: 0 35px 0 0;
      }
    }
  }
  footer#bottomBar {
    max-height: @logoSize;
    padding: 0 !important;
    line-height: @logoSize;
    div.social-accounts {
      height: @logoSize;
    }
    a {
      border: none;
      border-width: 0;
      &.sqs-svg-icon--wrapper {
        height: @logoSize;
      }
    }
  }
}

#mobile-navigation {
  #mobile-navigation-label, ul a {
    color: @navTextColor;
    &:hover {
      color: @navActiveColor;
    }
  }
}

@media only screen and (max-width: 1024px) {
  #navigator {
    footer#bottomBar {
      #footerBlock.sqs-layout {
        float: left;
        .sqs-block {
          padding: 0 10px!important;
        }
      }
      > div {
        max-width: none;
      }
      div.social-accounts {
        float: right;
        a.sqs-svg-icon--wrapper {
          margin: 0 10px;
        }
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .wallGrid {
    li {
      width: 50% !important;
    }
  }
}

@media only screen and (max-width: 640px) {
  .wallGrid {
    li {
      width: 100% !important;
    }
  }

  #navigator .siteTitle {
    margin: 0 !important;
    float: right !important;
    padding: 10px 20px !important;
    max-width: 35% !important;
    text-align: right !important;
  }

  .site-player {
    position: relative;
    top: auto;
    left: 0;
    margin: 10px 20px;
    min-height: @logoSize;
    .transform(none);
    .site-player-wrapper {
      position: absolute;
      .v-align;
    }
  }

  .site-titlelogo-position-left {
    #navigator .siteTitle {
      margin: 0 !important;
      float: left !important;
      padding: 0 !important;
      max-width: 35% !important;
      text-align: left !important;
    }
    .site-player {
      left: auto;
      right: 3%;
      width: 100%;
      float: right;
      margin: 0;
    }
  }
}

@media only screen and (max-width: 414px) {
  .wallGrid {
    display: none;
    width: 100%;
    li {
      width: 100% !important;
    }
  }

  .mobile-only {
    display: block !important;
  }
}