.filterable-feed {
  *{
    box-sizing: border-box;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .filter-sidebar,.filter-grid{
    float: left;
  }
  .filter-sidebar {
    max-width: 300px;
    width: 15%;
  }
  .filter-grid {
    width: 85%;
  }
}