.site-player {
  .v-h-align;
  position: absolute;
  a {
    border-color: transparent!important;
    cursor: pointer;
    position: relative;
    border-width: 0!important;
    display: block;
    float: left;
  }
  &.playing {
    #playButton {
      i{
        .icono-pause; 
      }
    }
  }
  #playButton {
    i{
      .icono-play;
    }
  }
  #volumeButton {
    i{
      .icono-volume;
    }
  }
}